# Bonus: Temperature Analysis I

In [26]:
import pandas as pd
from datetime import datetime as dt
from scipy.stats import ttest_ind
import numpy as np
from scipy import stats

In [27]:
from scipy.stats import ttest_ind
import datetime as dt

In [28]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt
import datetime as dt

In [29]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [30]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///hawaii.sqlite")

In [31]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [32]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [33]:
# Save references to each table
Measurement = Base.classes.measurement
station = Base.classes.station

In [34]:
# "tobs" is "temperature observations"
df = pd.read_csv('hawaii_measurements.csv')
# Show results
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [35]:
print (df.dtypes)

station     object
date        object
prcp       float64
tobs         int64
dtype: object

In [36]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])
df.date = pd.to_datetime(df.date, infer_datetime_format=True)
# Show results
df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [37]:
# Set the date column as the DataFrame index
df.set_index(df['date'], drop=False, append=False, inplace=False, verify_integrity=False).drop('date', 1)

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

In [38]:
# Drop the date column
df.reset_index(drop=True, inplace=True)

# Show results
df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

### Compare June and December data across all years

In [39]:
from scipy import stats

In [40]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [41]:
# Filter data for desired months
June_df = df.loc[df['date'].dt.month == 6]
Dec_df = df.loc[df['date'].dt.month == 12]

In [42]:
# Identify the average temperature for June
june_average = June_df["tobs"].mean()
round(june_average, 2)

74.94

In [43]:
# Identify the average temperature for December
dec_average = Dec_df["tobs"].mean()
round(dec_average, 2)

71.04

In [44]:
stats.ttest_ind(June_df["tobs"], Dec_df["tobs"], equal_var=True)

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

In [25]:
# Close Session
session.close()

### Analysis

The temperatures are close in some places but not fully consistent enough to believe that they follow a pattern. This leads me
to beleive the outcome's probability is completely random.